

/* ======================= DESKTOP ======================= */

.header {
  background: #0A0014;
  padding: 10px 20px;
  border-bottom: 1px solid #222;
}

/* Línea principal: LOGO — NAVBAR — ICONOS */
.headerMain {
  display: flex;
  align-items: center;
  width: 100%;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

/* NAVBAR DESKTOP */
.navbarDesktop {
  display: flex;
  margin-left: 40px;
}

/* ICONOS A LA DERECHA */
.iconsContainer {
  margin-left: auto; /* LOS EMPUJA A LA DERECHA */
  display: flex;
  align-items: center;
  gap: 15px;
}

.login {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Carrito */
.iconoDeCarrito {
  position: relative;
}

.contadorDeCarrito {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 11px;
}

/* Hamburguesa oculta en desktop */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.navbarMobile{
  display: none;
}

/* ======================= MOBILE ======================= */

@media (max-width: 768px) {

  .headerMain {
    justify-content: space-between;
  }

  .navbarDesktop {
    display: none; /* OCULTAR NAVBAR EN MOBILE */
  }

  .hamburger {
    display: block; /* MOSTRAR HAMBURGUESA */
  }

  .navbarMobile {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
  
  }

  .navbarMobile.open {
    display: flex;
  }
}
