body {
  font-family: 'Poppins', 'Rubik', sans-serif;
}

/* ===== NAVBAR ===== */
nav {
  /* background-color:rgb(233, 194, 185); */
  padding: 1rem 2rem;
  /* box-shadow: 0px 0px 2px 1px black; */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li {
  display: inline-block;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
  color: #C77DFF
}


/* #lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
#lista-productos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
} */

footer {
  /* background-color: #A9B8E2; */
  text-align: center;
  background-color: #0A0014;
  color: #FFFFFF;
}
button {
  background-color: rgb(220, 164, 152); /* azul */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #9ea0a5;
  transform: scale(1.05);
}


button:active {
  transform: scale(0.95);
}
/* para el formulario */
form {
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 350px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border-color: #0077cc;
  box-shadow: 0 0 5px rgba(0, 119, 204, 0.3);
  outline: none;
}

button {
  background-color: #0077cc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #005fa3;
  transform: scale(1.03);
}

button:active {
  background-color: #004b82;
  transform: scale(0.98);
}